/* ------- SUBHEADER ------ */
.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subheader:hover {
  cursor: pointer;
}

.selected {
  color: cyan;
}

/* ------- HEADER -------  */
.header {
  display: flex;
  justify-content: center;
}

/* ------- ROW ------- */
.row {
  display: flex;
  flex-direction: row;
}

/* ------- TABLE ------- */
table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

/* ------- CONTAINER -------- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.accountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: red;
  align-items: flex-start;
  margin-left: 10px;
}

.mini-row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.mini-column {
  flex-direction: column;
}

/* ------ SMALL ------- */
.small:hover {
  cursor: pointer;
  font-weight: 600;
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: relative;
  z-index: 99;
  width: 100%;
  max-width: 20rem;
  max-height: 100%;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: -1.5rem;
  right: 0;
  padding: 5px;
  border: 0;
  -webkit-appearance: none;
  background: none;
  color: white;
  cursor: pointer;
}

.modal-body {
  padding: 1.25rem 1.5rem;
  border-radius: 4px;
  background-color: white;
}
