body {
  background-color: #FCF8EC;
}

/* ------- HEADER -------  */
.header {
  display: flex;
  justify-content: center;
  color: #456268;
}

/* ------- SUBHEADER ------ */
.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #79A3B1;
}

/* .subheader:hover {
  cursor: pointer;
} */

.selected {
  color: #456268;
  cursor: default;
}

.mileage:hover {
  color:rgb(39, 85, 114);
  cursor: pointer;
}

.home-sub:hover {
  color:rgb(39, 85, 114);
  cursor: pointer;
}

.account:hover {
  color:rgb(39, 85, 114);
  cursor: pointer;
}

/* ----- FOOTER ------ */
.footer {
  position: fixed;
  bottom: 0;
  left: 40%;
  right: 40%;
}

/* ------- ROW ------- */
.row {
  display: flex;
  flex-direction: row;
}

/* ------- TABLE ------- */
table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

/* ------- CONTAINER -------- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.accountContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.mini-row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.mini-column {
  flex-direction: column;
}

/* ------ SMALL ------- */
.small:hover {
  cursor: pointer;
  font-weight: 600;
}

.small {
  align-self: center;
}

/* ----- HOME_BODY ------- */
.home-body {
  margin-right: 2px;
}

.maitna {
  color: #456268;
}

.maitda {
  color: #79A3B1;
}

h3 {
  margin: 0px 10px 0px 0px;
}

/* ----- FORM ------- */
.form {
  color: red;
}

h5 {
  margin-bottom: 0px;
  margin-top: 5px;
}

h4 {
  margin: 5px 0px;
}

/* ----- MODAL BUTTONS -------- */
.cnt-btn {
  color: black;
}

/* ----- SELECT VEHICLE ------ */
.slct-vhcl {
  color: black;
}

/* ------- HOME ------- */
.home {
  margin-left: 10px;
}

bold {
  font-weight: 500;
  color: black;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}